<div class="container">
	<div class="pageHeading">
	<center>
		<img src="images/breadcrumb-logo.png"></img></center>
	</div>
	<div class="innerContainer">
		<div class="formHeading">Login</div>
		<form action="">
			<div class="form-group">
				<label for="username">Username*</label> <input type="text"
					class="form-control" id="username" name="username">
				<!-- <p>At least 6 characters</p> -->
			</div>
			<div class="form-group">
				<label for="pwd">Password*</label> <input type="password"
					class="form-control" id="pwd" name="pwd">
				<!-- <p>Upper and lower case as well</p> -->
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-default"
					ng-click="loginSubmit();">Login</button>
				<!-- 		    	<button type="submit" class="btn btn-default" ng-click="loginSubmit();">Login</button> -->
			</div>
		</form>
	</div>
</div>